---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Layout from '../../../layouts/Layout.astro';

export async function getStaticPaths() {
  const photos = await getCollection("photos");
  const paths = photos.map(photo => {
    const matches = photo.data.src.match(/\/([^\/]+)\/([^\/]+)\?/);
    const widths = [250, 360, 480, 640, 800, photo.data.width];
    const sizes = `(max-width: 360px) 250px, (max-width: 480px) 360px, (max-width: 640px) 480px, (max-width: 800px) 640px, (max-width: 1024px) 800px, ${photo.data.width}px`;
    photo.data.width = undefined;
    photo.data.height = undefined;
    return {
      params: { id: matches[2], album: matches[1] },
      props: { photo, widths, sizes },
    };
  });

  return paths;
}

const { id, album } = Astro.params;
const { photo, widths, sizes } = Astro.props;

---
<Layout>
  <div class="photo">
    <Image src={photo.data} alt={`${album} photo ${id}`} widths={widths} sizes={sizes} />
  </div>
  <style>
    .photo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</Layout>
