---
import type { ImageMetadata } from "astro";
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const images = import.meta.glob<{ default: ImageMetadata }>("../album/**/*");
const imagePaths = Object.keys(images);
---
<Layout>
  <div id="gallery">
    {
      imagePaths.map(async (imagePath) => {
        const image = images[imagePath]();
        let lightboxImage = await getImage({
          src: image,
        });
        const widths = [250, 360, 480, 640, 800, lightboxImage.attributes.width];
        const sizes = `(max-width: 360px) 250px, (max-width: 480px) 360px, (max-width: 640px) 480px, (max-width: 800px) 640px, (max-width: 1024px) 800px, ${lightboxImage.attributes.width}px`;
        lightboxImage = await getImage({
          src: image,
          widths,
          sizes,
        });
        const srcSet = lightboxImage.srcSet.values
          .map(value => `${value.url} ${value.descriptor}`)
          .join(", ");
        return (
          <a
            href={lightboxImage.src}
            data-pswp-width={lightboxImage.attributes.width}
            data-pswp-height={lightboxImage.attributes.height}
            data-pswp-srcset={srcSet}
            target="_blank"
          >
            <Image
              src={image}
              alt="alt"
              width={250}
            />
          </a>
        );
      })
    }
  </div>

  <script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    const lightbox = new PhotoSwipeLightbox({
      gallery: "#gallery",
      children: "a",
      pswpModule: () => import("photoswipe"),
    });

    lightbox.init();
  </script>
</Layout>
