---
import { getCollection } from 'astro:content';
import { Image, getImage } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const albums = await getCollection('albums');
  const staticPaths = albums.map( album => {
    return {
      params: { id: album.id },
      props: { album },
    }
  });
	return staticPaths;
}

// const { id } = Astro.params;
const { album } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("../../album/**/*");
const imagePaths = Object.keys(images);
const thumbnailSize = 150;
---
<Layout>
  <div id="gallery">
    {
      imagePaths
        .filter(path => {
          const matches = path.match(/album\/([^\/]+)\//);
          return matches[1] === album.id
        })
        .map(async (imagePath) => {
          const image = images[imagePath]();
          let lightboxImage = await getImage({
            src: image,
          });
          const widths = [250, 360, 480, 640, 800, lightboxImage.attributes.width];
          const sizes = `(max-width: 360px) 250px, (max-width: 480px) 360px, (max-width: 640px) 480px, (max-width: 800px) 640px, (max-width: 1024px) 800px, ${lightboxImage.attributes.width}px`;
          lightboxImage = await getImage({
            src: image,
            widths,
            sizes,
          });
          const srcSet = lightboxImage.srcSet.values
            .map(value => `${value.url} ${value.descriptor}`)
            .join(", ");
          let thumbnailWidth, thumbnailHeight;
          const isLandscape =
            lightboxImage.attributes.width > lightboxImage.attributes.height;
          if (isLandscape) {
            thumbnailWidth = thumbnailSize;
          }
          else {
            thumbnailHeight = thumbnailSize;
          }
          return (
            <div class="photo-container">
              <a
                class="photo-link"
                href={lightboxImage.src}
                data-pswp-width={lightboxImage.attributes.width}
                data-pswp-height={lightboxImage.attributes.height}
                data-pswp-srcset={srcSet}
                target="_blank"
              >
                <Image
                  src={image}
                  alt={`${album.data.displayName} Photo`}
                  width={thumbnailWidth}
                  height={thumbnailHeight}
                />
              </a>
            </div>
          );
        })
    }
  </div>
  <style define:vars={{ thumbnailSize: `${thumbnailSize}px` }}>
    #gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .photo-container {
      padding: 2px;
      height: calc(var(--thumbnailSize) + 25px);
      width: calc(var(--thumbnailSize) + 25px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
  <script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    const lightbox = new PhotoSwipeLightbox({
      gallery: "#gallery",
      children: "a",
      pswpModule: () => import("photoswipe"),
    });

    lightbox.init();
  </script>

</Layout>
