---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const albums = await getCollection('albums');
  const photosCollection = await getCollection('photos');
  // console.log('photosCollection', photosCollection[0])
  const staticPaths = albums.map( album => {
    const albumPhotos = photosCollection.filter(photo => album.id === photo.data.album.id);
    return {
      params: { id: album.id },
      props: { album, photos: albumPhotos },
    }
  });
	return staticPaths;
}

const { id } = Astro.params;
const { album, photos } = Astro.props;

---
<Layout>
  <h1>{ album.data.displayName }</h1>
  <div class="photos">
    {photos.map(photo => {
      const matches = photo.data.src.match(/\/([^\/]+)\?/);
      // console.log({photo, id: matches[1]})
      let width, height;
      const isLandscape = photo.data.width > photo.data.height;
      if (isLandscape) {
        width = 250;
      }
      else {
        height = 250;
      }
      return (
        <div class="photo">
          <a href={`/photos/${matches[1]}`}>
            <Image
              src={photo.data}
              alt={album.data.displayName}
              width={width}
              height={height}
            />
          </a>
        </div>
      )
    })}
  </div>
  <style>
    .photos {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fill, 250px);
      grid-template-rows: repeat(auto-fill, 250px);
      grid-gap: 3px;
    }
    .photo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</Layout>
